<label class="input input--{{modifier}}">
    <div class="input__container">
        <span class="input__label" *ngIf="!!label">{{label}}</span>
        <span class="input__required" *ngIf="required">*required</span>

        <input
            name={{name}}
            placeholder={{placeholder}}
            type="number"
            class="input__item"
            [(ngModel)]="value"
            (ngModelChange)="onInput($event)"
        />
    </div>
    <div *ngIf="value" class="input__info">
        {{convertToNumber() | duration}}
    </div>
</label>