
.logo {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        display: block;
        margin-right: 5px;
        background: linear-gradient(141deg, #0079AD 11%, #B4D084 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}