<div [ngClass]="{'course': true, 'course--top-rated': course?.topRated}">
    <div class="course__header">
        <h3 class="course__title">
            {{ course?.title | uppercase }}
            <app-icon 
                *ngIf="course?.topRated"
                class="course__header-icon"
                code="star"
            ></app-icon>
        </h3>

        <div class="course__date-container">
            <span class="course__time">
                <app-icon code="time"></app-icon>
                {{ course?.duration | duration }}
            </span>   
            <span class="course__date">
                <app-icon code="date"></app-icon>
                {{ course?.creationDate | date:'MM/dd/yyyy' }}
            </span>   
        </div>
    </div>

    <div class="course__body">
        <div class="course__description">{{ course?.description }} </div>
        <div class="course__actions">
            <app-button 
                class="course__edit" 
                [text]="'PAGES.COURSES.EDIT_BTN' | translate" 
                icon="edit"
                type="link"
                [link]="'/courses/' + course?.id"
            ></app-button>
            <app-button 
                class="course__delete" 
                [text]="'PAGES.COURSES.DELETE_BTN' | translate" 
                icon="delete"
                (click)="onDeleteClick()"
            ></app-button>
        </div>
    </div>
</div>