@import 'mixins/input';

.input {
    position: relative;
    
    &__item {
        @include get-input-styles;
    }

    &__info {
        position: absolute;
        left: 100%;
        top: 0;
        line-height: 40px;
        margin-left: 19px;
        white-space: nowrap;
    }
}