/* Variables */

// Sizes
$header-height: 60px;
$footer-height: 60px;

// Colors
$white: #fff;
$black: #000;
$shadow: rgb(29,30,38);

$bg-primary: #f5f6fa;
$bg-secondary: #303240;

$dark-text: #464a5a;
$dark-text2: #474a59;
$gray-text: #6c6f80;
$light-text: #858997;

$header-color: #333;
$placeholder-color: #acafbf;
$input-border: #ced0db;
$button-disabled: #e1e3eb;

$btn-default: #009ecc;
$btn-success: #67a300;
$link-color: #5681ee;
$top-rated-color: #fbc02c;
$bg-top-rated: #fce9b9;
$error-color: #ff4e33;
$link: #5681ee;
$blue: #4cc0e1;
