/* Variables */

// Sizes
$header-height: 60px;
$footer-height: 60px;

// Colors
$white: #fff;
$black: #000;
$bg-primary: #f5f6fa;
$bg-secondary: #303240;
$dark-text: #464a5a;
$dark-text2: #474a59;
$light-text: #858997;
$header-color: #333;
$placeholder-color: #acafbf;
$input-border: #ced0db;
$btn-default: #009ecc;
$btn-success: #67a300;
$link-color: #5681ee;