<form class="form" [formGroup]="form" (submit)="onSubmit()">
  <input formControlName="id" type="hidden" />
  
  <label class="form__input-group">
    <span class="form__label">Title:</span>
    <span class="form__required">*required</span>

    <input
      formControlName="title"
      placeholder="Add title"
      type="text"
      class="form__input {{getField('title').valid ? '' : 'form__input--error'}}"
    />
  </label>

  <label class="form__input-group">
    <span class="form__label">Description:</span>
    <span class="form__required">*required</span>

    <textarea
      formControlName="description"
      placeholder="Add description"
      class="form__input {{getField('description').valid ? '' : 'form__input--error'}}"
    ></textarea>
  </label>

  
    <label class="form__input-group form__input-group--quarter">
      <span class="form__label">Duration:</span>
      <span class="form__required">*required</span>

      <app-duration-input
        formControlName="duration"
        placeholder="minutes"
        class="form__input-block"
        [invalid]="getField('duration').invalid"
      ></app-duration-input>
    </label>

  <label class="form__input-group form__input-group--quarter">
    <span class="form__label">Date:</span>
    <span class="form__required">*required</span>

    <app-date-picker
        formControlName="creationDate"
        placeholder="MM/DD/YYYY"
        class="form__input-block"
        [invalid]="getField('creationDate').invalid"
    ></app-date-picker>
  </label>

  <label class="form__input-group form__input-group--half">
    <span class="form__label">Authors:</span>
    <span class="form__required">*required</span>

    <app-autocomplete-input
      formControlName="authors"
      class="form__input-block"
      placeholder="Start typing"
      [suggestions]="authors"
      [invalid]="getField('authors').invalid"
    ></app-autocomplete-input>
  </label>

  <div class="form__actions">
      <app-button
          class="form__cancel"
          type="link"
          text="Cancel"
          modifier="grey"
          link="/"
      ></app-button>

      <app-button
          class="form__save"
          text="Save"
          type="submit"
          modifier="success"
          [btnDisabled]="form.invalid"
      ></app-button>
  </div>
</form>