@import 'mixins/input';

.form {
    @include define-input-elements;

    &__input-group {
        margin-top: 12px;

        &--quarter {
            width: 25%;
        }

        &--half {
            width: 50%;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 29px;
    }

    &__cancel {
        margin-right: 12px;
    }

    &__input-block {
        display: block;
        width: 100%;
    }

    &__input {
        &--autocomplete {
            padding: 4px 5px;
            line-height: 29px;
        }
    }
}