@import '../shared-variables';

.breadcrumbs {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: $white;

    &__item {
        line-height: 24px;
        color: $dark-text;
        text-decoration: none;

        &--selected {
            font-weight: 700;
        }
    }
}