@import '../shared-variables';

.input {
    line-height: 18px;
    color: $dark-text2;
    padding: 9px 12px;
    border: 1px solid $input-border;
    border-radius: 3px;
    box-sizing: border-box;
    width: 240px;
    outline: none;

    &::placeholder, 
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder {
        color: $placeholder-color;
    }
}