<div class="autocomplete {{invalid ? 'autocomplete--error' : ''}}">
  <div 
    class="autocomplete__selected-item" 
    *ngFor="let item of selectedItems"
  >
    <span>{{ item.name }}</span>
    <app-icon
      class="autocomplete__remove"
      code="cross"
      (click)="onDelete(item.id)"
    ></app-icon>
  </div>

  <input #input
    [placeholder]="placeholder"
    type="text"
    [(ngModel)]="value"
    class="autocomplete__input"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />

  <ul class="autocomplete__suggestion-list">
    <li class="autocomplete__suggestion-item" 
      *ngFor="let suggestion of suggestionsToShow"
      (click)="onSelect(suggestion)"
    >
      {{ suggestion.name }}
    </li>
  </ul>
</div>