<section class="breadcrumbs">
    <ul class="breadcrumbs__container container">
        <li class="breadcrumbs__item" *ngFor="let breadcrumb of (breadcrumbs$ | async); let i = index">
            <a
              class="breadcrumbs__link"
              *ngIf="i < (breadcrumbs$ | async).length - 1"
              [routerLink]="breadcrumb.url"
            >{{breadcrumb.label | async}}</a>
            <span
              class="breadcrumbs__link breadcrumbs__link--selected"
              *ngIf="i === (breadcrumbs$ | async).length - 1"
            >{{breadcrumb.label | async}}</span>
        </li>
    </ul>
</section>
