<app-page-item class="courses">
    <app-breadcrumbs></app-breadcrumbs>

    <section class="courses__container">
        <div class="container">
            <div class="courses__header">
                <app-search></app-search>
                <app-add-course class="courses__add-btn"></app-add-course>
            </div>
            
            <app-courses-list></app-courses-list>
            <app-load-more class="content-block content-block--centered"></app-load-more>
        </div>
    </section>
</app-page-item>