@import '../variables';

@mixin get-input-styles() {
    line-height: 18px;
    color: $dark-text2;
    padding: 9px 12px;
    border: 1px solid $input-border;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    width: 100%;

    &::placeholder, 
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder {
        color: $placeholder-color;
    }

    &--error {
        border-color: $error-color;
    }
}

@mixin define-input-elements() {
    &__input {
        @include get-input-styles();
    }

    &__label {
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 8px;
        color: $dark-text2;
    }

    &__required {
        font-size: 12px;
        line-height: 24px;
        color: $dark-text2;
    }

    &__input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}