<form class="login-form" (submit)="onSubmit($event)">
    <app-input
        class="login-form__input"
        label="E-mail:"
        name="email"
        value={{email}}
        required={{true}}
        placeholder="Enter e-mail"
        type="text"
        (inputChanged)="onEmailChange($event)"
    ></app-input>

    <app-input
        class="login-form__input"
        label="Password:"
        name="password"
        value={{password}}
        required={{true}}
        placeholder="Enter password"
        type="password"
        (inputChanged)="onPasswordChange($event)"
    ></app-input>

    <div class="login-form__actions">
        <a class="login-form__link" href="#forgot-password">
            Forgot password?
        </a>
        <app-button 
            type="submit" 
            [btnDisabled]="!isValid()"
            text="Login"
            modifier="success"
            (click)="onSubmit($event)"
        ></app-button>
    </div>
</form>